body{
    width: 100%;
    height: 100%;
    background-image: url(/home/user/Bureau/learning-html-css/progressive-enhancement/Images/espace.jpg);
    overflow:  hidden; 
}

p{
    text-align: center;
    font-size: 30px;
    color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
   line-height: 3;
   animation-name: animation;
   animation:linear animation 20s infinite ;
	
   
}


.wars{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    table-layout: fixed;
    perspective: 400px;
    transform: rotate3d(2,0,0,70deg);
    
}

@keyframes animation{

    0%, 100% {margin-top:0%;}
 	99.99% {margin-top:-100%;} 
}
/*
.logo{
    margin: 0 35% 0 35%;
    display: block;
    position: relative;
    
} */