body{

    background-image: url(/home/user/Bureau/learning-html-css/progressive-enhancement/Images/espace.jpg)
}

p{
    text-align: center;
    margin: 200px;
    color: yellow;
   line-height: 3;
}

section{
    
}